<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Page</title>
</head>
<body>
    <h1>Email Addresses Entered:</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <table>
        <tr>
            <th>Email Address</th>
            <th>Date</th>
        </tr>
        <!-- refer to the users list inside context, not the key -->
        {% for user in context %}
        <tr>
            <th>{{ user.email }}</th>
            <th>{{ user.date }}</th>
        </tr>
        {% endfor %} 
    </table>
</body>
</html>